* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: pink;
}

h4 {
    background-color: pink;
    color: white;
    font-size: 2rem;
}

.image {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.text {
    text-align: center;
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.container .banner, .content, .news, .salads, .meals, .professionals, .contact {
    background: papayawhip;
    padding: 15px;
}

.nav {
    margin: 0;
    padding: 0;
    background: lightseagreen;
    grid-column-start: 1;
    grid-column-end: 4;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.nav ul li a {
    display: block;
    padding: 10px 30px;
}

.nav ul li a:hover {
    background-color: lightpink;
}

.container .banner {
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 200px;
    background-image: url("food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container .banner {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: justify;
}

.container .news {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.container .salads, .meals {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .salads {
    background-image: url("salad.jpg");
    background-size: cover;
    background-position: center;
}

.container .meals {
    background-image: url("meal.jpg");
    background-size: cover;
}

.container .professionals {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    float: left;
}

.experts {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 2rem;
}

.container .contact {
    background: lightseagreen;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    display: block;
}
